spaces-v {
	padding: var(--main-view-padding);

	display: grid;
	grid-template-rows: 3rem 1fr;

	& > header {
		display: grid;
		align-items: center;
		padding-left: .825rem;
	}

	& > section.content {
		display: grid;

	}
}